@using DomainModels
@using System.Globalization
@inject Services.DatabaseServices DatabaseServicesInstance

@page "/upcomingbookings"

<h3>Upcoming Bookings</h3>
<button @onclick=UpdateBookings>Update</button>
@foreach (var booking in bookings)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@booking.GuestName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@booking.GuestEmail</h6>
            <p class="card-text">Room: @booking.RoomId</p>
            <p class="card-text"> @booking.RoomType</p>
           <p class="card-text">Start Date: @booking.StartDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</p>
           <p class="card-text">End Date: @booking.EndDate.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</p>
            <a href="/editbooking/@booking.BookingId" class="btn btn-primary">Edit Booking</a>
        </div>
    </div>
}



@code {
    string message = "";
    string resp = "";
    List<DomainModels.GetBookingDTO> bookings = new();

    protected override async Task OnInitializedAsync()
    {
        await UpdateBookings();
    }
    async Task UpdateBookings()
    {
        bookings.Clear();
        bookings.AddRange(await DatabaseServicesInstance.GetBookingList());
        StateHasChanged();
    }

}
